<h1>Order a pizza!</h1>

 {% comment %} variables below come from "CONTEXT" object from "views.py" {% endcomment %}
         {% comment %} this will only render if we have accessed PK which will be an argument to access the right pizza order form from DB:  {% endcomment %}
<h2>{{ note }}</h2>
    {% if created_pizza_pk %}
    <a href="{% url 'edit-order' created_pizza_pk  %}">Edit Your Order</a>
    {% endif %}

<form action="{% url 'order' %}" method="post">
    {% csrf_token %}
    {{ pizzaform.as_p }}
    <input type="submit" value="Order Pizza">
</form>

{% comment %} <br></br>

Want more than one pizza?

<form action="{% url 'pizzas' %} method="GET">
    {{ multiple_form }}
    <input type="submit" value="Get Pizzas">
</form> {% endcomment %}